body{
	background: url(../images/grass.png) 0 0 repeat;
}

.items-nav{
	left: 100px;
	list-style: none;
	padding: 0 20px;
	position: absolute;
	top: 140px;
	width: 280px;
}

.items-nav li{
	float:left;
	font-size: 13px;
	list-style: none;
	padding: 5px 10px;
}

.items-nav li a{
	color: #c01d08;
}

.items-nav li a:hover{
	color: #e06d38;
}

.items{
	left: 150px;
	list-style: none;
	position: absolute;
	top: 240px;
	width: 200px;
	height: 700px;
	overflow-y: auto;
}

.items li.item{
	-webkit-user-select: none;
	border-radius: 10px;
	cursor: pointer;
	height: 130px;
	list-style: none;
	position: relative;
	text-align: center;
	transition: 0.2s all ease-in-out;
	width: 130px;
}

.items li.item div.level{
	display: none;
	margin: 0 auto;
}

.items li.item ul.controls{
	list-style: none;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 999;
}

.items li.item ul.controls li.control{
	background: #c01d08;
	border-radius: 20px;
	color: #fbf6be;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 24px;
	list-style: none;
	position: absolute;
	width: 24px;
}

.items li.item ul.controls li.control#decrease{
	left: -30px;
}

.items li.item ul.controls li.control#increase{
	right: 10px;
}

.items li.item div.level.active{
	display: block;
}

.items li.item:hover{
	background: rgba(180,90,20,0.1);
}

.items li.item img{
	margin-top: 5px;
	max-height: 120px;
	max-width: 120px;
}

#sidebar{
	background: url(../images/sidebar.png) 0 0 no-repeat;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 524px;
}

.newElementOnScreen{
	cursor: move;
	position: absolute !important;
	left: 50%;
	top: 50%;
}