@import "lesshat.less";
@import "normalize.css";

@sideBgColor: #efe691;
@sideBgInactive: #d0bf78;

body{
  background: url(../images/grass.png) 0 0 repeat;
}

#sidebar{
  background: url(../images/sidebar.png) 0 0 no-repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 524px;
  .items-nav{
    .rotate(-90deg);
    left: -378px;
    list-style: none;
    position: absolute;
    top: 300px;
    width: 890px;
    li{
      .border-radius(15px 15px 0 0);
      background: @sideBgInactive;
      border: 6px solid #4a4947;
      border-bottom: 0;
      float:left;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      list-style: none;
      margin-right: 3px;
      max-width: 100px;
      padding: 10px;
      padding: 5px 10px;
      text-align: center;
      &.active{
        background: @sideBgColor;
      }
      a{
        color: #c01d08;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
          color: #e06d38;
        }
      }
    }
  }
}

.items{
  bottom: 0;
  display: none;
  left: 150px;
  list-style: none;
  overflow-y: auto;
  position: absolute;
  top: 145px;
  width: 200px;
  &#defense{
    display: block;
  }
  li{
    &.item{
      -webkit-user-select: none;
      border-radius: 10px;
      cursor: pointer;
      height: 130px;
      list-style: none;
      position: relative;
      text-align: center;
      transition: 0.2s all ease-in-out;
      width: 130px;
      div.level.active{
        display: block;
      }
      :hover{
        background: rgba(180,90,20,0.1);
      }
      div{
        &.level{
          display: none;
          margin: 0 auto;
        }
      }
      img{
        margin-top: 5px;
        max-height: 120px;
        max-width: 120px;
      }
    }
  }
}

ul{
  &.controls{
    list-style: none;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 999;
    li.control{
      background: #c01d08;
      border-radius: 20px;
      color: #fbf6be;
      display: block;
      font-size: 18px;
      font-weight: bold;
      height: 24px;
      list-style: none;
      position: absolute;
      width: 24px;
      &#decrease{
        left: -30px;
      }
      &#increase{
        right: 10px;
      }
    }
  }
}

.newElementOnScreen{
  cursor: move;
  position: absolute !important;
  left: 50%;
  top: 50%;
}